@use 'sass:color';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

// REFERENCE PALLETE
// // $blue: hsl(220, 100%, 43%);
// $muted-blue: hsl(220, 100%, 63%);
// $dark-blue: hsl(220, 100%, 11%);
// $dark-dark-blue: hsl(220, 100%, 8%);
// $dark-dark-dark-blue: hsl(220, 100%, 6%);
// $white-blue: hsl(220, 100%, 96%);
// $light-blue-border: hsl(220, 100%, 93%);
// $light-blue-bg: hsl(220, 100%, 98%);

// // TEST REDS
// $red: hsl(0, 100%, 43%);
// $muted-red: hsl(0, 100%, 63%);
// $dark-red: hsl(0, 100%, 11%);
// $dark-dark-red: hsl(0, 100%, 8%);
// $dark-dark-dark-red: hsl(0, 100%, 6%);
// $white-red: hsl(0, 100%, 96%);
// $light-red-border: hsl(0, 100%, 93%);
// $light-red-bg: hsl(0, 100%, 98%);

// $muted-yellow: #efff40;
// $muted-green: hsl(139, 100%, 43%);
// $muted-orange: #ff9040;
// $white: hsl(0, 0%, 95%);
$blue-950: shade-color($blue, 85%);
$blue-1000: shade-color($blue, 90%);

body {
    user-select: none;
}

.tag {
    border-radius: 0.25em;
    background-color: $blue;
    padding: 0.35em;
    color: white;
    font-size: 14px;
    margin-right: 0.25em;
}

.logo-button {
    border-radius: 0.25em;
    // background-color: $muted-green;
    color: white;
    padding: 0.25em;
    padding-right: 0.45em;
    padding-left: 0.45em;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 3.75em;
}

.content-wrapper {
    padding: 0.0625em;
    padding-top: 2em;
    margin: auto;
    max-width: 90%;
}

.headbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.headbar * {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
}

.sidebar {
    color: white;
    background-color: $blue-1000;
    height: 100vh;
    width: 14em;
    position: sticky;
    top: 0;

    .sidebar-brand {
        padding: 1em;
        display:flex;
        align-items: center;
        .nav-link.brand {
            color: white;
            margin: 0;
            font-weight: 600;
            font-size: 18pt;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        // border-bottom: 2px solid $blue-900;
    }

    .sidebar-links {
        .nav-link {
            height: 3em;
            align-content: center;
            color: $white;
            border-radius: 0.4em;
        }

        .nav-link:hover,
        .nav-link:focus {
            color: white;
            background-color: $blue-950;
        }
    }


}

.content-container {
    min-height: 100vh;
    flex-grow: 1;
}

.navbar.topnav {
    * {
        border-radius: 10em;
    }

    justify-content: space-between;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-bottom: 1px solid hsl(0, 0%, 95%);

    .navbar-brand {
        color: $blue;
        font-weight: 700;
    }

    .nav-link.nav-account {
        padding-left: 0.75em;
        padding-right: 0.75em;
        margin-left: 0.5em;
    }

    .nav-signup {
        background-color: $blue;
        color: white
    }
}

.modal-container {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($gray-200, 0.5);
    
    .budget-modal.med {
        width: 35em;
        max-height: 30em;
    }
    .budget-modal.small {
        width: 30em;
        max-height: 15em;
    }

    .budget-modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-header,
        .modal-footer {
            padding: 1.5em;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-header {
            border-bottom: 1px solid $white;
        }

        .modal-footer {
            * {
                margin-left: 0.5em;
            }

            justify-content: flex-end;
            border-top: 1px solid $white;
        }

        .modal-header,
        .modal-footer {
            * {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        .modal-body {
            padding: 1.5em;
        }

        background-color: white;
        border-radius: 1em;
        border: 1px solid $white;

        overflow: scroll;
        box-shadow: 1px 1px 6px 0px hsla(0, 0%, 0%, 0.38);
    }
}

.hidden {
    display: none;
}

.toastalert {
    $width: 10em;
    $height: 3em;

    // min-width: $width;
    // max-width: $width * 3;
    // height: $height;

    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    padding: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    bottom: 0;

    background-color: $blue-100;
    border: 1.5px solid $blue-200;
    border-radius: 0.45em;
    color: $blue;
}

.toastalert-red {
    background-color: $red-100;
    border: 1.5px solid $red-200;
    border-radius: 0.45em;
    color: $red;
}

.form-check.tag-check {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.ov-card {
    // width: 25em;
    // background-color: $red;
    border-radius: 1em;
    color: white;
    h1 strong {
        font-weight: 900;
    }
    padding: 1em;
}
.ov-card-expenses { 
    background-color: $red;
}
.ov-card-income {
    background-color: $blue;
}


.big-talk-space {
    background-color: $blue;
    color: white;
    padding: 5em;
    height: 30em;
    display: flex;
    justify-content: center;
    .big-talk {
        font-size: 6.5em;
        font-family: 'Passion One', sans-serif;
    }
}

.big-talk-space-alt {
    padding: 5em;
    color: $blue-900;
    background-color: $blue-100;
    h1 {
        font-family: 'Passion One', sans-serif;
    }
}
.footer {
    padding: 5em;
    padding-top:2em;
    height: 20em;
    padding-bottom: 2em;
    color: $white;
    bottom:0;
    background-color: $blue-900;

    // Modify content wrapper inside footer to be a vertical flexbox
    .content-wrapper {
        height: 100%; 
        display: flex; 
        flex-direction:column; 
        justify-content: space-between;
    }
    h1 {
        font-family: 'Passion One', sans-serif;
    }
}

.loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;
}

.balance-negative { 
    color: $red;
}

.balance-positive {
    color: $green;
}

table.table tbody td.red {
    background-color: $red-100;
    color:$red-700;
    border-bottom: 1px solid $red-200;
}
table.table tbody td.green {
    background-color: $green-100;
    color:$green-700;
    border-bottom: 1px solid $green-200;
}