:root {
    --muted-red: #ff5340;
    --muted-blue: #4080ff;
    --muted-yellow: #efff40;
    --muted-green: #70ff40;
    --muted-orange: #ff9040;
}
h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


tr td .tag.red {
background-color: var(--muted-blue);
border-radius: 0.25em;
padding: 0.35em;
color: white;
font-size: 14px;
margin-right: 0.25em;
}
.form-group {
    padding-bottom: 1em;
}